div.code
{
	position: relative;

	min-width: 100ch;
	max-width: 100%;
	width: calc(100% - 2px);
	min-height: auto;
	max-height: initial;
	height: auto;
	margin: 0 0 0 0;
	padding: 0 0 0 0;

	border: 1px solid #000000;
	border-radius: 2px;

	white-space: nowrap;

	color: #DDDDDD;
	background-color: #111111;

	font-family: Courier New, Courier, sans-serif;
	font-size: 11pt;
	line-height: 12pt;
}

.code margin__
{
	position: absolute;
	left: 100ch;
	height: calc(100% - 2px);
	border: 1px solid #990000;
}

.code docu__
{
	display: inline-block;
	width: 100ch;

	margin: 0 0 0 0;
	padding: 3px 0 3px 0;

    border: 1px solid #AAAAAA;
    border-left: 0;

    color: #AAAAAA;
	background-color: #222222;

	text-align: center;
	font-weight: bold;
}

.code info__
{
	width: calc(95ch - 8px);
	height: auto;

	padding: 5px 0 5px calc(5ch + 8px);

	border-top: 1px solid #770000;
	border-bottom: 1px solid #770000;

	display: inline-block;

	color: #007700;
	background-color: #222222;
	font-weight: bold;
	line-height: initial;
}

.code line__
{
	z-index: 2;
	position: relative;
	width: 5ch;
	float: left;
	margin: 0 0 0 0;
	padding: 0 3px 0 5px;

	color: #0050AA;
	background-color: #222222;

	text-align: left;
	font-weight: bold;
}

.code tab__
{
	padding: 0 0 0 4ch;
}

.code preprocessor__, special__
{
	color: #00DD00;
	font-style: italic;
}

.code operator__
{
	color: #009900;
	font-weight: bold;
}

.code keyword__
{
	color: #0055AA;
	font-weight: bold;
}

.code customtype__
{
	color: #990000;
	font-weight: bold;
}

.code type__
{
	color: #0088AA;
	font-weight: bold;
}

.code multicomment__
{
	color: #AA33FF;
	font-style: italic;
}

.code comment__
{
	color: #FF8800;
	font-style: italic;
}

.code number__
{
	color: #AA33AA;
}

.code char__
{
	color: #990066;
}

.code string__
{
	color: #FFFF00;
}