/*

Element
{
	//position
	position:
	bottom:
	left:
	right:
	top:

	//organization
	margin:
	padding:

	//size
	max-height:
	min-height:
	height:
	max-width:
	min-width:
	width:

	//layout
	display:
	float:
	overflow:
	cellpadding:
	cell-spacing

	//visibility
	z-index:
    visibility:
    opacity:

	//text
	font-family:
	font-size:
	text-align:
	text-decoration:

	//color
	border:
	color:
	background:

	//animation

	//transition
}

*/

html
{
	color:							#FFFFFF;
	font-family:					Verdana, Geneva, sans-serif;
	font-size:						12pt;
	background: #000000 -ms-linear-gradient(top, #121212, #000000 90%) no-repeat fixed;
	background: #000000 -webkit-linear-gradient(top, #121212, #000000 90%) no-repeat fixed;
/*	background: #000000 -moz-linear-gradient(top, #121212, #000000 90%) no-repeat fixed;*/
	background: #000000 -o-liner-gradient(top, #121212, #000000 90%) no-repeat fixed;
	background: #000000 linear-gradient(top, #121212, #000000 90%) no-repeat fixed;
	background-size: 100% calc(100% - 80px);
}

body
{
	margin:							50px 0px 0px 0px;
	padding:						0px 0px 0px 0px;
}

h1
{
	font-size:						18pt;
}

h2
{
	font-size:						16pt;
}

h3
{
	font-size:						14pt;
}

table, th, tr, td
{
    margin:							0px 0px 0px 0px;
	padding:						0px 0px 0px 0px;

	width:                          auto;

	border:                         none;

	border-spacing:                 0px;
    border-collapse:                separate;
    text-align:                     left;
    vertical-align:                 top;
}

textarea
{
    min-height:                     50px;
    max-height:                     300px;
    min-width:                      100px;
    max-width:                      300px;

    border:                         1px solid #AAAAAA;

    color:                          #FFFFFF;
    background-color:               #333333;

    transition:						background 500ms ease-out, border 500ms ease-out;
}

textarea:hover
{
    border:                         1px solid #FFFFFF;

    background-color:               #444444;
}

textarea:focus
{
    outline:                        0px;
    border:                         1px solid #FFFFFF;

    background-color:               #444444;
}

button
{
    margin:							0px 0px 0px 0px;
	padding:						5px 5px 5px 5px;

	min-width:                      100px;
	max-width:                      auto;
	height:                         30px;

    border:                         1px solid #777777;
    border-radius:                  2px;
    outline:                        0px;
    cursor:                         pointer;

    background:                     #555555 linear-gradient(#555555, #777777);
    color:                          #FFFFFF;

    transition:						all 350ms ease-out;
}

button:hover
{
    border:                         1px solid #888888;

    background:                     #777777;
}

button:active
{
    border:                         1px solid #FFFF00;
}

select
{
    margin:							0px 2px 0px 2px;
	padding:						5px 5px 5px 5px;

	min-width:                      100px;
	height:                         30px;

    border:                         1px solid #777777;
    border-radius:                  1px;
    outline:                        0px;

    background:                     #555555 linear-gradient(#555555, #777777);
    color:                          #FFFFFF;

    transition:						all 500ms ease;
}

select:hover
{
    border:                         1px solid #888888;
    background:                     #777777;
}

select:focus
{
    border:                         1px solid #FFFF00;
}

option
{
    margin:							0px 0px 0px 0px;
	padding:						5px 5px 5px 5px;

    min-width:                      150px;
	height:                         30px;

    border:                         1px solid #777777;
    outline:                        0px;

    color:                          #FFFFFF;
    background-color:               #555555;

    transition:						all 500ms ease;
}

option:hover
{
    background-color:               #666666;
}

option:checked
{
    background-color:               #777777;
}

input[type="text"], input[type="password"], input[type="email"]
{
    margin:							0px 2px 0px 2px;
	padding:						0px 6px 0px 6px;

	min-width:                      150px;
	height:                         30px;

    border:                         1px solid #777777;
    border-radius:                  1px;
    outline:                        0px;

    background-color:               rgba(85, 85, 85, 0.9);
    color:                          #FFFFFF;

    transition:						all 500ms ease;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover
{
    background-color:               #777777;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus
{
    border-bottom:                  1px solid #FFFF00;

    background-color:               #777777;
}

input[type="radio"]
{
    position:                       relative;

    margin:							0px 2px 0px 2px;
	padding:						0px 0px 0px 0px;

	width:                          20px;
	height:                         20px;

	outline:                        0px;
    cursor:                         pointer;
    border:                         1pt solid #777777;
    border-radius:                  50%;
    vertical-align:                 middle;

    appearance:                     none;
	-moz-appearance:                none;
	-webkit-appearance:             none;

    transition:						all 500ms ease;
}

input[type="radio"]:checked:after
{
    position:                       absolute;
    left:                           calc(50% - 5px);
    top:                            calc(50% - 5px);

    height:                         10px;
    width:                          10px;

    border-radius:                  50%;
    content:                        '';
    display:                        block;

    background-color:               #FFFF00;
}

input[type="radio"]:focus
{
    border:                         1pt solid #FFFF00;
}

input[type="checkbox"]
{
    position:                       relative;

    margin:							0px 2px 0px 2px;
	padding:						0px 0px 0px 0px;

	width:                          20px;
	height:                         20px;

	outline:                        0px;
    cursor:                         pointer;
    border:                         1px solid #777777;
    vertical-align:                 middle;

    appearance:                     none;
	-moz-appearance:                none;
	-webkit-appearance:             none;

    transition:						all 500ms ease;
}

input[type="checkbox"]:focus
{
    border:                         1px solid #FFFF00;
}

input[type="checkbox"]:checked:after
{
    position:                       absolute;
    left:                           calc(50% - 5px);
    top:                            calc(50% - 5px);

    height:                         10px;
    width:                          10px;

    content:                        '';
    display:                        block;

    background-color:               #FFFF00;
}

p
{
	font-size:						12pt;
}

a, a:visited
{
	text-decoration:				none;

	color:							#FFFFFFF;
}

a:hover
{
	text-decoration:				underline;
}

table
{
	margin:							auto;

	width:							100%;

	border-spacing:                 0px;
    border-collapse:                separate;

	border:							none;
}

tr
{

}

th
{
	font-size:						14pt;
	font-weight:					bold;
}

td
{

}

/**
 * Special elements
 */

div.navbar
{
	position: 						absolute;
	left:							0px;
	top:							0px;

	margin:							0px 0px 0px 0px;
	padding:						0px 0px 0px 0px;

	max-height:						48px;
	min-height:						48px;
	height:							48px;
	max-width:						100%;
	min-width:						100%;
	width:							100%;

	z-index:						100;

	text-align:						center;

	border-bottom:					2px solid #444444;
	background-color:				#333333;
}

/**
 * Top level navbar
 */
.navbar ol
{
    margin:							auto;
    padding:						0px 0px 0px 0px;

    max-height:						49px;
	min-height:						49px;
	height:							49px;
    max-width:						50%;
	min-width:						620px;
	width:							50%;

    list-style:						none;
    text-align: 					center;
}

/**
 * Top level navigation elements
 */
.navbar ol > li
{
	margin:							0px 0px 0px -1px;
    padding:						0px 0px 0px 0px;

	max-height:						48px;
	min-height:						48px;
	height:							48px;
	max-width:						auto;
	min-width:						150px;
	width:							auto;

    display: 						inline-block;
}

.navbar ol > li:hover
{

}

.navbar ol > li:hover ol
{
	max-width:						auto;
	min-width:						auto;
	width:							auto;

    visibility:						visible;
    opacity:						1;

}

/**
 * Top level links
 */
.navbar ol > li a
{
    margin:							0px 0px 0px 0px;
    padding:						0px 50px 0px 50px;

    display:						block;
    line-height:					48px;
    text-align:						left;
    border-left:					1px solid #595959;
    border-right:					1px solid #595959;
    border-bottom:					2px solid transparent;
    color:							#FFFFFF;

    transition:						all 200ms;
}

.navbar ol > li a:hover
{
	padding: 						0px 50px 0px 50px;
    border-bottom:					2px solid #FFFF00;
	background-color:				#555555;
}

/**
 * Sub level navbar
 */
.navbar li ol
{
    position:						absolute;
    top:							50px;

	margin:							0px 0px 0px 0px;
    padding:						0px 0px 0px 0px;

   	max-width:						auto;
	min-width:						auto;
	width:							auto;

    z-index:						1;
    visibility:						hidden;
    opacity:						0;

    transition:						200ms ease ease;
}

/**
 * Sub level navbar elements
 */


/**
 * Sub level links
 */
.navbar li ol a
{
	padding:						0px 50px 0px 25px;

	text-align:						left;

	border-left:					2px solid #595959;
	background-color:				#444444;
}

.navbar li ol a:hover
{
	padding:						0px 25px 0px 50px;

	border-left:					2px solid #FFFF00;
	border-bottom:					2px solid transparent;
	background-color:				#555555;
}

#navbar-icon-left
{
	position: 						absolute;
	left:							0px;
	top:							0px;

	padding:						0px;

	max-width:						70px;
    max-height:						70px;

	display:						inline-block;
}

#navbar-icon-right
{
	position: 						fixed;
	right:							20px;
	bottom:							20px;

	padding:						10px;

	max-width:						20px;
    max-height:						20px;

	border:                         3px solid #777777;
	border-radius:                  50%;
	z-index:						99;
	display:						inline-block;

	background-color:               #333333;
}

/**
 * Main page elements
 */

div.page
{
	margin:							0px 0px 0px 0px;
	padding:						0px 0px 0px 0px;

	max-width:						100%;
	min-width:						100%;
	width:							100%;

	overflow:						hidden;
}

div.full-width
{
	min-width:						100%;
    max-width:						100%;
}

div.grid
{

}

div.center-box
{
    margin:                         0% 18% 0% 18%;

    min-width:                      620px;
}

div.image
{

}

.image img
{
	margin:							auto;

	max-height: 					400px;
	max-width: 						600px;

	overflow-x:						hidden;

	background: 					radial-gradient(#333333, #222222, transparent, transparent);
}

div.settings
{
    position:                       fixed;
    left:                           -1px;
    bottom:                         50px;

    border:                         1px solid #555555;
    border-left:                    none;
    border-radius:                  3px;

    background-color:               #222222;
    color:                          #FFFFFF;

    transition:						all 0.5s ease;
}

.settings img
{
    width:                          32px;
    height:                         32px;

    margin:                         3px 3px 3px 3px;
}

.settings:hover #content, .settings img:hover + #content, .settings #content:hover
{
    min-height:                     32px;
    height:                         auto;
    min-width:                      200px;
    width:                          auto;

    margin:                         0px 0px 0px 32px;
    padding:                        5px 5px 5px 5px;

    line-height:                    32px;
    color:                          #FFFFFF;
}

.settings #content
{
    min-height:                     32px;
    max-height:                     32px;
    height:                         32px;
    min-width:                      0px;
    max-width:                      0px;
    width:                          0px;

    margin:                         0px 0px 0px 0px;
    padding:                        0px 0px 0px 0px;
    margin-left:                    -300px;
    margin-top:                     -36px;

    line-height:                    0px;
    overflow:                       hidden;
    color:                          transparent;

    transition:                     all 0.5s ease;
}

.settings th
{
    font-size:                      11pt;
}

.settings td
{
    padding:                        2px;
    font-size:                      11pt;
}

div.credits
{
    position:                       fixed;
    bottom:                         0px;

    font-size:                      8pt;
    text-align:                     center;
}

/**
 * Attribute classes
 */

div.center
{
    display:                        block;
	text-align:						center;
}

div.left
{
    display:                        block;
	float:							left;
}

div.right
{
    display:                        inline-block;
	float:							right;
}

/**
 * Style and Colors
 */


/**
 * Additional
 */
::-webkit-scrollbar
{
    width:                          7px;
    height:                         7px;

    background-color:               #333333;
}

::-webkit-scrollbar-button
{
	padding:                        0px;
	display:                        none;
}

::-webkit-scrollbar-track
{
	padding:                        0px;
}

::-webkit-scrollbar-track-piece
{
	padding:                        0px;
}

::-webkit-scrollbar-thumb
{
    height:                         7px;
    width:                          7px;

    border:                         2px solid transparent;
    border-radius:                  2px;

    background-color:               #FFFF00;
}

::-webkit-scrollbar-corner
{
	display:                        none;
}

@keyframes fade
{
    0%
    {
        display:                        none;
        opacity:                        0;
    }
    1%
    {
        display:                        block;
        opacity:                        0;
        transform:                      scale(0);
    }
    100%
    {
        opacity:                        1;
        transform:                      scale(1);
    }
}

@keyframes spin
{
	0%
	{
		transform:                  rotate(0deg);
	}
	100%
	{
		transform:                  rotate(360deg);
	}
}

@keyframes scale
{
	0%
	{
		-webkit-clip-path:          polygon(0% 0%, 0% 0%, 50% 50%, 50% 50%);
		clip-path:                  polygon(0% 0%, 0% 0%, 50% 50%, 50% 50%);
	}
	50%
	{
		-webkit-clip-path:          polygon(0% 0%, 50% 0px, 50% 50%, 0px 50%);
		clip-path:                  polygon(0% 0%, 50% 0px, 50% 50%, 0px 50%);
	}
	100%
	{
		-webkit-clip-path:          polygon(0% 0%, 0% 0%, 50% 50%, 50% 50%);
		clip-path:                  polygon(0% 0%, 0% 0%, 50% 50%, 50% 50%);
	}
}

div.loader
{
	display:                        block;
	position:                       fixed;
	right:                          10px;
	bottom:                         10px;
    width:                          40px;
    height:                         40px;
    border:                         2px solid #777777;
    border-radius:                  50%;

    animation:                      spin 2s linear infinite, scale 2s ease-out infinite;
}
