div.register
{
	position: absolute;
	top: 200px;


	width: auto;
	margin: 0px calc(50% - 351px) 200px calc(50% - 351px);
	padding: 0px;

	background-color: #121212;
}

.register td
{
	text-align: initial;
}

.register p
{
	font-size: 11pt;
}

.register table
{
	padding: 20px 10px 20px 10px;
	border: 2px solid #777700;
	border-radius: 5px;
}

.register td
{
	width: 300px;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}

div.errorregister
{
	position: fixed;
	top: calc(50% - 25px);
	left: calc(50% - 200px);
	display: block;

	width: 400px;
	height: 50px;

	border: 2px solid #FF0000;
	border-radius: 2px;

	color: #FFFFFF;
	background-color: #550000;
	text-align: center;
	font-size: 12pt;
	line-height: 50px;
}

div.successfulregister
{
	position: fixed;
	top: calc(50% - 25px);
	left: calc(50% - 200px);
	display: block;

	width: 400px;
	height: 50px;

	border: 2px solid #00FF00;
	border-radius: 2px;

	color: #FFFFFF;
	background-color: #005500;
	text-align: center;
	font-size: 12pt;
	line-height: 50px;
}

div.strengthmeter
{
    position: absolute;
	min-width: 181px;
	max-width: 181px;
	height: 6px;
	margin: 2px 0px 1px 2px;

	border: 1px solid #AAAAAA;
	border-radius: 3px;
}

span[name="meter"]
{
	position: absolute;
	left: 0px;
	width: calc(100% - 2px);
	height: 4px;
	border: 1px solid transparent;
	border-radius: 3px;
}

#meter0
{
	width: 20%;
	background-color: #990000;
}

#meter1
{
	width: 40%;
	background-color: #FF3300;
}

#meter2
{
	width: 60%;
	background-color: #FF7700;
}

#meter3
{
	width:80%;
	background-color: #AAAA00;
}

#meter4
{
	width: calc(100% - 2px);
	background-color: #007700;
}

#captcha
{
	margin: auto;
}

#day, #month, #year
{
	min-width: 50px;
	max-width: 100px;
}

#error
{
	transition: all 500ms;
}